﻿;Train.erb
;조교관련 함수
; 기본적으로 @EVENTTRAIN -> @USERCOM
;============================================================================== 
;TRAIN State
;BEGIN Train 후 호출되는 함수
;============================================================================== 
@EVENTTRAIN
SIF TARGET < 0
	RETURN 0
	
;개시시 구상 호출
TRYCCALLFORM  EVENTTRAIN_K{NO:TARGET}
CATCH
	PRINTL 범용 캐릭터 개시 구상 출력
	;CALLFORM  EVENTTRAIN_K_EXTRA
ENDCATCH

@EVENTTRAIN
#PRI
; 초기화 및 기록갱신
CBGCLEAR
; 주인 
PLAYER = MASTER
BASE:MASTER:사정 = 0
BASE:MASTER:발기 = 0

; 타겟
BASE:모유 = 0
BASE:요의 = 0
BASE:배설욕 = 0

; 평상시, 음핵, 유두 사이즈는 최대 사이즈의 80 ~ 90%
IF GETBIT(CFLAG:상태플래그, 상태_발정)
	BASE:음핵 = MAXBASE:음핵
	BASE:유두 = MAXBASE:유두
ELSE
	BASE:음핵 = MAXBASE:음핵 * (RAND:10 + 80) / 100
	BASE:유두 = MAXBASE:유두 * (RAND:10 + 80) / 100
ENDIF

CFLAG:마지막조교일 = SET_TODAY()
FLAG:마지막조교자 = TARGET

CALL SET_TRAIN_LOCATION(위치_침실)

@EVENTTRAIN
#LATER
PRINTL
PRINTL 버프 처리
PRINTL
CALL PRINT_TRAIN_BACKGROUND

;============================================================================== 
;TRAIN State
;Train 시 상태를 출력하는 함수
;============================================================================== 
@SHOW_STATUS
#DIM iWidth = 600
#DIM iHeight = 600
#DIM TextMargin

HTML_PRINT @"<shape type='space' param='4370'><img src='프레임_발정' width='{200}' height='{190}' ypos='{600}'>  <img src='프레임_발정' width='{200}' height='{200}' ypos='{600}'>"
CALL SHOW_CHARACTER_ICON(TARGET, CFLAG:TARGET:스킨, iWidth, iHeight, 400)
; 일자, 시간, 남은시간, 현재 위치
CALL CALENDAR_PRINT,0
PRINTFORM \@(TIME == 0) ? (낮) # (밤)\@
PRINTFORM  조교시간({TFLAG:조교진행시간,3}/{FLAG:조교총시간})
PRINTFORM  위치: 
CALL COLORPRINT(@"[%GET_TRAIN_LOCATION()%]", 칼라_초록)
PRINTL
CUSTOMDRAWLINE ━

; 이미지 이름 조교정보
TextMargin = iWidth + 100
PRINT_SPACE TextMargin
CALL COLORPRINT(@"%NAME:TARGET,16,LEFT%", TALENT:머리색)
PRINTFORM  (호감도: {CFLAG:호감도,5} 조교경험: {EXP:조교횟수,5} 애정경험: {EXP:애정경험,5})   
PRINTL
; 이미지 체력 ------------- ㅁ ㅁ
PRINT_SPACE TextMargin
PRINTFORM 체력: 
{
CALL PRINT_RATE_BAR(
	BASE:체력, MAXBASE:체력,
	LEN_BAR_GRA_RATE, LEN_BAR_LONG,
	칼라_체력1, 칼라_체력2, 칼라_흰색,
	0x0002)
}
PRINTFORM  ({BASE:체력,5}/{MAXBASE:체력,5})
PRINT    
CALL PRINT_RECTBAR_HEIGHT(BASE:모유, MAXBASE:모유, 90, 칼라_흰색)
PRINT   
CALL PRINT_RECTBAR_HEIGHT(BASE:요의, MAXBASE:요의, 90, 칼라_노랑)
PRINTL
; 이미지 기력 ------------- ㅁ ㅁ
PRINT_SPACE TextMargin
PRINTFORM 기력: 
{
CALL PRINT_RATE_BAR(
	BASE:기력, MAXBASE:기력,
	LEN_BAR_GRA_RATE, LEN_BAR_LONG,
	칼라_기력1, 칼라_기력2, 칼라_흰색,
	0x0102)
}
PRINTFORM  ({BASE:기력,5}/{MAXBASE:기력,5})
PRINTL
; 이미지 의상정보            모유 요의
PRINT_SPACE TextMargin
출력된문자열길이 = 0
IF CSTR:TARGET:착용의상리스트 == ""
	CALL COLORPRINT(@"[전라]",칼라_흰색)
ELSE
	CALL DIC_FOREACH(CSTR:TARGET:착용의상리스트, @"LAO_PRINT_CLOTHES")
ENDIF
SIF 70 > 출력된문자열길이
	PRINTFORM %" " * (72 - 출력된문자열길이)%
PRINT [모유][요의]
PRINTL

;주인정보 사정 
PRINT_SPACE TextMargin
PRINTFORM 조교자: %NAME:PLAYER,12,LEFT%사정: 
{
CALL PRINT_RATE_BAR(
	BASE:PLAYER:사정, MAXBASE:PLAYER:사정,
	LEN_BAR_GRA_RATE, 15,
	칼라_노랑, 칼라_연노랑, 칼라_흰색,
	0x0102)
}
PRINTFORM  ({BASE:PLAYER:사정,5}/{MAXBASE:PLAYER:사정,5})
PRINTL
PRINT_SPACE TextMargin
PRINTFORM 조수  : 
CALL COLORPRINT(@"%NAME:ASSI,12,LEFT%", TALENT:ASSI:머리색)
PRINTFORM 적용중인 버프:
PRINTL
CUSTOMDRAWLINE -

;PALAMS
CALL SHOW_TRAIN_TARGET_PALAM
PRINTL

;M이미지 B이미지 CV이미지 A이미지
;M이미지 B이미지 CV이미지 A이미지
;M이미지 B이미지 CV이미지 A이미지
;M이미지 B이미지 CV이미지 A이미지
CALL SHOW_TRAIN_TARGET_ERO_IMAGES

CUSTOMDRAWLINE -

;============================================================================== 
;TRAIN State
;Train 시 상태를 출력하는 함수
;============================================================================== 
@SHOW_USERCOM

PRINTL
PRINTL SHOW_USERCOM 버튼 출력
PRINTBUTTON "[  키스  ] ", 101
PRINTL
PRINTBUTTON "[  애무  ] ", 102
PRINTL
PRINTBUTTON "[  로터  ] ", 103
PRINTL
PRINTBUTTON "[ V삽입  ] ", 104
PRINTL
PRINTBUTTON "[ A삽입  ] ", 105
PRINTL
PRINTBUTTON "[V바이브 ] ", 106
PRINTL
PRINTBUTTON "[조교종료]", 메뉴_나가기
PRINTL


;============================================================================== 
;TRAIN State
;Train 명령을 출력
;============================================================================== 
@USERCOM

PRINTL
PRINTL USERCOM 선택된 조교 버튼에 따른 동작
PRINTL

IF RESULT == 메뉴_나가기
	BEGIN AFTERTRAIN
	RETURN 1
ENDIF

IF RESULT == 101
	PALAM:쾌M += 500
	PALAM:윤활 += 200
ELSEIF RESULT == 102
	PALAM:쾌C += 500
	PALAM:쾌B += 300
	PALAM:윤활 += 500
ELSEIF RESULT == 103
	PALAM:쾌C += 700
	PALAM:윤활 += 700
ELSEIF RESULT == 104
	PALAM:쾌V += 1000
	PALAM:윤활 += 200
	BASE:PLAYER:사정 += 1000
	SIF TEQUIP:MASTER:P장착
		TEQUIP:A장착 = 0
	TEQUIP:V장착 = 1
	TEQUIP:MASTER:P장착 = 1
ELSEIF RESULT == 105
	PALAM:쾌A += 1000	
	BASE:PLAYER:사정 += 1000
	SIF TEQUIP:MASTER:P장착
		TEQUIP:V장착 = 0
	TEQUIP:A장착 = 1
	TEQUIP:MASTER:P장착 = 2
ELSEIF RESULT == 106
	PALAM:쾌V += 1000
	PALAM:윤활 += 200
	SIF TEQUIP:V장착
		TEQUIP:MASTER:P장착 = 0		
	TEQUIP:V장착 = 10
ENDIF

;공통
BASE:요의 += 500

;============================================================================== 
;TRAIN State
;UserCom 종료 시, 소스 증가 처리
;============================================================================== 
@SOURCE_CHECK

PRINTL
PRINTL SOURCE_CHECK!!!!
PRINTL

;============================================================================== 
;TRAIN State
;UserCom 최종 종료
;============================================================================== 
@EVENTCOM

PRINTL
PRINTL EVENTCOM 시작!!!
PRINTL

;============================================================================== 
;TRAIN State
;UserCom 최종 종료
;============================================================================== 
@EVENTCOMEND

PRINTL
PRINTL EVENTCOM 종료!!!
PRINTL

;============================================================================== 
;AFTERTRAIN State
;Train 종료 후 호출
;============================================================================== 
@EVENTEND

PRINTL 조교를 종료했습니다
PRINTL
PRINTL Train 최종 종료!!!
PRINTL

CBGCLEAR

BEGIN ABLUP
