﻿;===========================================================================
;	자원 표시 관련으로 사용하는 함수군
;
;LAO_ICONSCRIPT		대상 이름의 작은 아이콘과 대사를 띄운다
;
; 주: HTML_PRINT가 자체적으로 엔터후에 출력되고, ypos는 있는데 xpos가 없다.
;	 대신 PRINT_SPACE나 PRINT_RECT, PRINT_IMG는 같은 HTML인데 줄바꿈이 없다.
;	 근데 PRINT_IMG는 사이즈 조절이 안됨.. 그지같은거..
;	 다른 SC 형식의 이미지 출력은 클라이언트 고정된 X,Y 좌표에 출력된다.	 
;===========================================================================


;=========================================================
; 캐릭터 작은 아이콘과 대사를 출력하는 용도
; Resources의 이미지가 {캐릭번호}_%캐릭이름%_스킨{스킨번호}_아이콘 으로 지정되어있어야한다.
; sName: 캐릭터의 Name 값, ""의 경우 공백을 주고 텍스트만 출력한다.
; eText: 출력하는 대사(기본값: 텍스트 색상은 캐릭터의 머리색으로 출력된다.)
; sOption: NL 라인없음|W 대기|B 굵게 > 라인 바꾸는게 기본임. 기울이기, 취소선, 밑줄은 추가안함..
;			NL이 있으면 W가 무시된다. W 자체가 라인을 바꾸니까..
;=========================================================
@LAO_ICONSCRIPT(sName,eText,sOption="")
#DIMS sName			; (매개변수) 캐릭터 이름
#DIMS eText			; (매개변수) 캐릭터 대사
#DIMS sOption		; (매개변수) 대사 옵션
#DIMS sPrint_Text	; HTML 스크립트
#DIM iSize = 200	; 이미지 사이즈, 이게 가장 적당해서 고정함..
#DIM iFont_Hei_mag	; 설정된 행 높이와 폰트크기에 따른 아이콘 크기 보정
#DIM iEnter_Con		; 이미지 사이즈에 따른 여백 보정
#DIM iCharacter		; 캐릭터 정보
#DIMS sRes_name		; 자원명 격납
#DIM iTextColor		; 대사 색상

;-----------------
;그림표시
;-----------------
SIF GETCONFIGS("描画インターフェース") == "WINAPI"
	THROW 描画インターフェース를 TextRenderer로 변경해 주세요

iFont_Hei_mag = GETCONFIG("一行の高さ") * iSize / GETCONFIG("フォントサイズ")

IF sNAME != ""
	iCharacter = NAME_TO_CHARA(sName)
	sPrint_Text = <p align='left'><nobr>
	IF !(iCharacter < 0)
		sRes_name = {NO:iCharacter}_%NAME:iCharacter%_스킨{CFLAG:iCharacter:스킨}_아이콘
		SIF SPRITECREATED(sRes_name) == 0
			sRes_name = 더미
		sPrint_Text += @"<img src='%sRes_name%' width='{iFont_Hei_mag}' height='{iFont_Hei_mag}'></p>"
	ELSE
		sPrint_Text += @"<img src='더미' height='{iFont_Hei_mag}'></p>"
	ENDIF

	HTML_PRINT sPrint_Text
ENDIF

;-----------------
;대사입력 (HTML 형식으로 텍스트를 추가하는 대신 앞에 공백을 주고 글을 입력함.)
;-----------------
PRINT_SPACE iFont_Hei_mag + 50

LOCAL:0 = GETCOLOR()
IF iCharacter >= 0
	IF sOption != ""
		SIF STRFIND(sOption, "B") >= 0
			FONTBOLD
	ENDIF
	
	IF sOption != "" && STRFIND(sOption, "NL") >= 0
		CALL COLORPRINT(@"%eText%", TALENT:iCharacter:머리색)
	ELSEIF sOption != "" && STRFIND(sOption, "W") >= 0
		CALL COLORPRINT(@"%eText%", TALENT:iCharacter:머리색, "W")
	ELSE
		CALL COLORPRINT(@"%eText%", TALENT:iCharacter:머리색, "L")
	ENDIF
	
	;폰트 복구
	FONTREGULAR
ENDIF

; size를 300이상으로 설정할 때 여백주는 용도
;iEnter_Con = 1
;FOR LOCAL, iEnter_Con+1, (iSize/100)
;	HTML_PRINT "<br>"
;NEXT

;-------------------------------------------------
;캐릭터 아이콘 출력
;대상, 이미지너비, 이미지높이, 스킨
;-------------------------------------------------
@SHOW_CHARACTER_ICON(대상, 스킨번호, 이미지너비, 이미지높이, yMargin=0)
#DIM 대상
#DIM 스킨번호
#DIM 이미지너비
#DIM 이미지높이
#DIM yMargin
#DIMS sPrint_Text	; HTML 스크립트
#DIMS sRes_name		; 자원명 격납

sRes_name = {NO:대상}_%NAME:대상%_스킨{스킨번호}_아이콘
SIF !SPRITECREATED(sRes_name)
	RETURN
	
sPrint_Text = <p align='left'><nobr>
sPrint_Text += @" <img src='%sRes_name%' width='{이미지너비}' height='{이미지높이}' ypos='{yMargin}'>"
sPrint_Text += @"</p>"
HTML_PRINT sPrint_Text

sPrint_Text = <p align='left'><nobr>
sPrint_Text += @" <img src='프레임_통상' width='{이미지너비}' height='{이미지높이}' ypos='{yMargin - 100}'>"
sPrint_Text += @"</p>"
HTML_PRINT sPrint_Text

;-------------------------------------------------
;캐릭터 아이콘 출력 버튼 기능 추가
;대상, 이미지너비, 이미지높이, 스킨
;-------------------------------------------------
@SHOW_CHARACTER_ICON_BUTTON(대상, 스킨번호, 버튼번호, 이미지너비, 이미지높이, yMargin = 0)
#DIM 대상
#DIM 스킨번호
#DIM 버튼번호
#DIM 이미지너비
#DIM 이미지높이
#DIM yMargin
#DIMS sPrint_Text	; HTML 스크립트
#DIMS sRes_name		; 자원명 격납

sRes_name = {NO:대상}_%NAME:대상%_스킨{스킨번호}_아이콘
SIF !SPRITECREATED(sRes_name)
	RETURN
	
sPrint_Text = <p align='left'><nobr>
sPrint_Text += @" <button value='{버튼번호}'>"
sPrint_Text += @"<img src='%sRes_name%' width='{이미지너비}' height='{이미지높이}' ypos='{yMargin}'>"
sPrint_Text += @"</button></p>"
HTML_PRINT sPrint_Text

sPrint_Text = <p align='left'><nobr>
sPrint_Text += @" <img src='프레임_통상' width='{이미지너비}' height='{이미지높이}' ypos='{yMargin - 100}'>"
sPrint_Text += @"</p>"
HTML_PRINT sPrint_Text

;-------------------------------------------------
;캐릭터 능력 상세 보기창 이미지 출력
;현재페이지 = 1: 모델이미지 2: 중파이미지, 그외는 미출력
;-------------------------------------------------
@SHOW_CHARACTER_INFO_IMAGE(대상, 현재페이지, 이미지너비, 이미지높이, yMargin=0)
#DIM 대상
#DIM 현재페이지
#DIM 이미지너비	= 1000	; 이미지 너비
#DIM 이미지높이	= 1500	; 이미지 높이
#DIM yMargin
#DIMS sPrint_Text	; HTML 스크립트
#DIMS sRes_name		; 자원명 격납

sRes_name = {NO:대상}_%NAME:대상%_스킨{CFLAG:대상:스킨}_
IF 현재페이지 == 0
	sRes_name += @"모델"
ELSE
	; 중파 이미지가 없으면 기본 이미지를 출력함
	SPRITECREATED @"%sRes_name%중파"
	IF RESULT == 1
		sRes_name += @"중파"
	ELSE
		sRes_name += @"모델"
	ENDIF
ENDIF

SIF !SPRITECREATED(sRes_name)
	RETURN

sPrint_Text = <p align='left'><nobr>
sPrint_Text += @"<img src='%sRes_name%' width='{이미지너비}' height='{이미지높이}' ypos='{yMargin}'>"
sPrint_Text += @"</p>"
HTML_PRINT sPrint_Text

sPrint_Text = <p align='left'><nobr>
sPrint_Text += @"<img src='프레임_발정' width='{이미지너비}' height='{이미지높이}' ypos='{yMargin - 100}'>"
sPrint_Text += @"</p>"
HTML_PRINT sPrint_Text

;-------------------------------------------------
; 캐릭터의 랭크 이미지를 출력
;-------------------------------------------------
@PRINT_RANK_ICON(ARG)
#DIMS 캐릭터랭크
캐릭터랭크 = %ALPHABET_RANK(랭크_캐릭랭크, ABL:ARG:랭크)%
SPRITECREATED @"%CSTR:ARG:역할군%%캐릭터랭크%"
SIF RESULT == 0
	RETURN	
PRINT_IMG @"%CSTR:ARG:역할군%%캐릭터랭크%"

;-------------------------------------------------
; 배경이미지 출력
;-------------------------------------------------
@PRINT_CURRENT_BACKGROUND(ARG)
SIF ARG <= 0
	RETURN
SIF GCREATED(ARG) == 0
	RETURN

CBGSETG ARG, 250, 0, 1

;-------------------------------------------------
; 로비이미지 출력
;-------------------------------------------------
@PRINT_LOBBY_BACKGROUND
SIF FLAG:로비이미지 <= 0
	RETURN
SIF GCREATED(FLAG:로비이미지) == 0
	RETURN
	
CBGSETG FLAG:로비이미지, 250, 0, 1

;-------------------------------------------------
; 조교배경이미지 출력
;-------------------------------------------------
@PRINT_TRAIN_BACKGROUND
SIF TFLAG:조교배경이미지 <= 0
	RETURN
SIF GCREATED(TFLAG:조교배경이미지) == 0
	RETURN
	
CBGSETG TFLAG:조교배경이미지, 250, 0, 1

;-------------------------------------------------
; 조교 상태 이미지 출력
;-------------------------------------------------
@SHOW_TRAIN_TARGET_ERO_IMAGES
#DIM width = 800
#DIM height = 800
#DIMS sPrint_Text

; BASE Image
sPrint_Text = <p align='left'><nobr>
sPrint_Text += @" <img src='M_Base' width='{width}' height='{height}' ypos='{0}'>"
sPrint_Text += @" <img src='B_Base' width='{width}' height='{height}' ypos='{0}'>"
sPrint_Text += @" <img src='V_Base' width='{width}' height='{height}' ypos='{0}'>"
sPrint_Text += @" <img src='A_Base' width='{width}' height='{height}' ypos='{0}'>"
HTML_PRINT sPrint_Text

; 신체특성에 따른 추가 이미지(크기, 확장)
sPrint_Text = <p align='left'><nobr>
sPrint_Text += @" <img src='M_Base' width='{width}' height='{height}' ypos='{-100}'>"
sPrint_Text += @" <img src='B_Base' width='{width}' height='{height}' ypos='{-100}'>"
sPrint_Text += @" <img src='V_Base' width='{width}' height='{height}' ypos='{-100}'>"
sPrint_Text += @" <img src='A_Base' width='{width}' height='{height}' ypos='{-100}'>"
HTML_PRINT sPrint_Text

; 애액, 모유, 로션 이미지
sPrint_Text = <p align='left'><nobr>
sPrint_Text += @" <shape type='space' param='{width}'>"
IF BASE:모유 > MAXBASE:모유 * 80 / 100
	sPrint_Text += @" <img src='V_애액' width='{width}' height='{height}' ypos='{-200}'>"
ELSE
	sPrint_Text += @" <shape type='space' param='{width}'>"
ENDIF
IF PALAM:윤활 > 5000
	sPrint_Text += @" <img src='V_애액' width='{width}' height='{height}' ypos='{-200}'>"
ELSE
	sPrint_Text += @" <shape type='space' param='{width}'>"
ENDIF
sPrint_Text += @" <shape type='space' param='{width}'>"
HTML_PRINT sPrint_Text

; Equip1(V로터삽입 등..) 선출력이 필요한 것
sPrint_Text = <p align='left'><nobr>
sPrint_Text += @" <shape type='space' param='{width}'>"
IF TEQUIP:B장착 == 10
	sPrint_Text += @" <img src='C_로터' width='{width}' height='{height}' ypos='{-300}'>"
ELSE
	sPrint_Text += @" <shape type='space' param='{width}'>"
ENDIF
IF TEQUIP:V장착 == 10
	sPrint_Text += @" <img src='C_로터' width='{width}' height='{height}' ypos='{-300}'>"
ELSE
	sPrint_Text += @" <shape type='space' param='{width}'>"
ENDIF
IF TEQUIP:A장착 == 10
	sPrint_Text += @" <img src='C_로터' width='{width}' height='{height}' ypos='{-300}'>"
ELSE
	sPrint_Text += @" <shape type='space' param='{width}'>"
ENDIF
HTML_PRINT sPrint_Text

; Equip2(페니스, 로터 등..)
sPrint_Text = <p align='left'><nobr>
sPrint_Text += @" <shape type='space' param='{width}'>"
sPrint_Text += @" <shape type='space' param='{width}'>"
IF TEQUIP:V장착 == 1
	sPrint_Text += @" <img src='V_페니스' width='{width}' height='{height}' ypos='{-400}'>"
ELSE
	sPrint_Text += @" <shape type='space' param='{width}'>"
ENDIF
IF TEQUIP:A장착 == 1
	sPrint_Text += @" <img src='V_페니스' width='{width}' height='{height}' ypos='{-400}'>"
ELSE
	sPrint_Text += @" <shape type='space' param='{width}'>"
ENDIF
HTML_PRINT sPrint_Text

PRINTL
PRINTL

; Frame Image
sPrint_Text = <p align='left'><nobr>
sPrint_Text += @" <img src='프레임_발정' width='{width}' height='{height}' ypos='{-1*height + 100}'>"
sPrint_Text += @" <img src='프레임_발정' width='{width}' height='{height}' ypos='{-1*height + 100}'>"
sPrint_Text += @" <img src='프레임_발정' width='{width}' height='{height}' ypos='{-1*height + 100}'>"
sPrint_Text += @" <img src='프레임_발정' width='{width}' height='{height}' ypos='{-1*height + 100}'>"
HTML_PRINT sPrint_Text